@import "tailwindcss";

:root {
  /* Use HSL format: H S% L% */
  --background: 29 94% 93%; /* #FEEDDD */
  --foreground: 0 0% 9%; /* #171717-ish */
  --primary: 0 0% 0%; /* black */
  --accent: 5 45% 50%; /* #B74F46 */
  --white: 0 0% 100%; /* #FEFEFE */
}

.dark {
  --background: 10 18% 8%; /* #17100F */
  --foreground: 0 0% 93%; /* light text */
  --primary: 0 0% 100%; /* white */
  --accent: 5 45% 50%; /* same accent (optional) */
  --white: 0 0% 100%;
}

@theme inline {
  /* Colors */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-accent: hsl(var(--accent));
  --color-white: hsl(var(--white));

  /* Fonts */
  --font-japanese: "Japanese3017", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jakarta-sans: var(--font-jakarta);
  --font-playfair: "Playfair Display", serif;

  /* Breakpoints */
  --breakpoint-xss: 320px;
  --breakpoint-xs: 360px;
  --breakpoint-ss: 390px;
  --breakpoint-smx: 420px;
  --breakpoint-2xs: 480px;
  /* Tablets */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 900px;
  /* Desktop */
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1152px;
  --breakpoint-xl: 1280px;
  /* Wide screens */
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@font-face {
  font-family: "Japanese3017";
  src:
    url("/fonts/Japanese3017.otf") format("opentype"),
    url("/fonts/Japanese3017.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
